@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  font-family: sans-serif;
  padding: 15px;
}

* {
  font-family: Roboto;
}

.delete-post {
  margin-left: 15px;
  position: relative;
  top: -3px;
}
